{% extends "base.html" %}
{% block content %}
{% include "flash_errors.html" %}
<ul>
    <div class="container my-3">
        <table class="table">
            <thead>
            <tr class="table-dark">
                <th>번호</th>
                <th>제목</th>
                <th class="col-sm-2">파일 크기(KB)</th>
            </tr>
            </thead>
            <tbody>
            {% if file_list.count() %}
            {% for file in file_list %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <a href="{{ url_for('file.down', file_id = file.id) }}" target="_blank">{{ file.filename }}</a>
                </td>
                <td>
                    {{'%0.2f'|format(file.size|float)}}KB
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">공유된 파일이 없습니다.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</ul>
{% endblock %}